html {
	font-size: 1em;
}

body {
	margin: 100px 200px 40px 200px;
	color: rgb(36,34,46);
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	background-color: #cccccc;
}

.wrapper{
	padding: 40px 40px 40px 260px;
	background-color: rgb(255,255,255);
	position: relative;
}


.box {
	width: 200px;
	padding: 10px;
	border: 1px solid #999999;
	box-shadow: 2px 2px 5px #cccccc;
	position: absolute;
	top: 20px;
	left: 20px;
}
