.forms {
	padding: 20px;
}

.forms label {
	float: left;
	width: 40%;
}

.forms .radio {
	border: none;
	clear: left;
	margin: 0 0 0.5em 0;
	padding: 0;
}
.forms .radio label {
	float: none;
}
.radio {
	border: none;
	clear: left;
	margin: 0 0 0.5em 0;
	background-color: rgb(255,255,255);
	padding: 0 0.5em;
	border-radius: 0.5em;

}

.forms .radio legend {
	float: left;
	width: 40%;
	margin: 0;
	padding: 0;
}
.forms div {
	clear: left;
	margin: 0 0 0.5em 0;
	background-color: rgb(255,255,255);
	padding: 0 0.5em;
	border-radius: 0.5em;
}

.forms div.buttons {
	background-color: transparent;
	text-align: center;
}

.forms input[type="submit"] {
	font-size: 1.2rem;
	border: 1px solid #cccccc;
	background-color: rgb(255,255,255);
	border-radius: 0.2em;
	padding: 0.2em 1em  0.2em 1em;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.forms input[type="submit"]:hover {
	box-shadow: 2px 2px 5px rgba(78,83,10,0.6); 
}

.forms input[type="submit"]:active {
	box-shadow: inset 2px 2px 5px rgba(78,83,10,0.6); 
}

.forms input[type="text"],
.forms input[type="email"],
.forms textarea {
	width: 55%; 
	border: 2px solid #cccccc;
	font: 100% Arial, Helvetica, sans-serif;
}

.forms input[type="text"]:focus,
.forms input[type="email"]:focus,
.forms textarea:focus {
	border: 2px solid rgb(129,129,241);
	box-shadow: 2px 2px 5px rgba(129,129,241,0.4);
}
.forms input:focus:invalid {
	border: 2px solid rgb(248,28,54);
	box-shadow: 2px 2px 5px rgba(248,28,54,0.4);
	
}
select, input[type="file"] {
	font: 100% Arial, Helvetica, sans-serif;
}
.req {
	font-weight: bold;
	color: rgb(248,28,54);
}
