
html {
	font-size:  1em;
}
body {
	margin: 40px 100px 40px 100px;
	color: rgb(36, 34, 46);
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	background-image: url(elephant.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper {
	background-color: #ffffff;
	padding: 20px;
}