html {
	font-size: 1em;
}

body {
	margin: 100px 200px 40px 200px;
	color: rgb(36,34,46);
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	background-color: #cccccc;
}

.wrapper{
	padding: 40px;
	background-color: rgb(255,255,255);
	border-radius: 2em;
}

.test {
	float: left;
	width: 200px;
	margin: 0 20px 20px 0;
	padding: 20px;
/*	border-top:  2px solid #000000;*/
	border: 2px solid #000000;
	border-radius: 10px;
	border-top-left-radius: 40px;
/*	border: 2px dotted #000000;*/
	
/*
	border-top-color: #000000;
	border-top-style: solid;
	border-top-width: 2px;
*/
/*
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-left-color: #000000;
	border-left-style: solid;
	border-left-width: 2px;
*/
}

