html {
	font-size: 1em;
}

body {
	margin: 100px 200px 40px 200px;
	color: rgb(36,34,46);
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	background-color: #cccccc;
}

.wrapper{
	padding: 40px 40px 40px 260px;
	background-color: rgb(255,255,255);
}

.clr:after {
	content: "";
	display: table;
	clear: both;
}


.test {
	width: 200px;
	padding: 20px;
	border: 1px solid #cccccc;
	box-shadow: 2px 2px 5px #999999;
	float: right;
	margin: 0 0 10px 20px;
}

.readmore {
	background: #333333;
	color: #ffffff;
	padding: 10px;
	clear: both;
}

.readmore a:link, .readmore a:visited {
	color: #ffffff;
}
