html {
	font-size: 1em;
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

.clr:after {
	content: "";
	display: table;
	clear: both;
}
body {
	margin: 0;
	padding: 0;
	color: rgb(36,34,46);
	font: 100%/1.3 Arial, Helvetica Neue, Helvetica, sans-serif;
	background: url(test.png) #cccccc;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

h1, h2, h3 {
	color: rgb(65,77,79);
	font-family: Lucida Bright, Georgia, serif;
	margin: 0 0 1em 0;
	padding: 0;
}

h1 {
	font-size: 2rem;
}

h1.book-title {
	text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}

h2 {
	font-size: 1.5rem;
}

blockquote {
	font-size: 1.2rem;
	
}
a:link {
	color: rgb(149, 155, 68);
}
a:visited {
	color: rgb(73,76,33);
}
a:hover {
	text-decoration: none;
}
.wrapper {
	width: 980px;
	padding: 20px;
	margin: 0 auto 0 auto;
}

.mainheader {
	
}
.content {
	float:left;
 	width: 600px;
	border-color: rgba(255,255,255,0.5);
	margin-bottom: 40px;
}
.content header, .content footer {
	padding: 20px;	
}
.content-section {
	padding: 20px;
	border-bottom: 4px solid rgba(100,100,100, 0.3);  
}

.content blockquote {
	border-color: rgb(255,255,255);
	padding: 10px 20px 10px 20px;
	margin: 0;
	border-radius: 10px;
}
.sidebar {
	float: right;
	width: 300px;
	border-color: rgba(255,255,255,0.5);
	padding: 20px;
}

.mainfooter {
	border-color: rgb(255,255,255);
	padding: 20px;
	clear: both;
}
