
html {
	font-size:  1em;
}
body {
	margin: 40px 100px 40px 100px;
	color: rgb(36, 34, 46);
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
/*	background-image: linear-gradient(, #ffffff, #999999);*/
/*	background-image: linear-gradient(to right, #ffffff, #999999);*/

/*	background-image: linear-gradient(to right, red, blue, purple, green);*/
/*	background-image: linear-gradient(to right, red 60%, blue 75%, purple 83%, green);*/
/*	background-image: radial-gradient(red, blue);*/
/*	background-image: radial-gradient( circle at top right, red, blue);*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

h1, h2, h3 {
	color: rgb(65,77,79);
	font-family: Lucida Bright, Georgia, serif;
}

h1 {
	font-size: 2rem;
}

h1.book-title {
	padding: 10px;
}

h2 {
	font-size: 1.5rem;
}

blockquote {
	font-size: 1.2rem;
	margin: 0;
	padding: 0 70px 0 70px;
	background: url(fake1.png)top left no-repeat, url(fake2.png) bottom right no-repeat, url(test.p ng);
}

a:link {
	color: rgb(149,155,68);
}

a:visited {
	color: rgb(73,76,33);
}
h1.booktitle {
	background-image: url(test.png);
	background-color: rgb(165,170,148);
	color: rgb(255,255,255);
}