@font-face {
    font-family: 'after_shokregular';
    src: url('After_Shok-webfont.eot');
    src: url('After_Shok-webfont.eot?#iefix') format('embedded-opentype'),
         url('After_Shok-webfont.woff') format('woff'),
         url('After_Shok-webfont.ttf') format('truetype'),
         url('After_Shok-webfont.svg#after_shokregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	1em;
}
body {
	margin: 40px 100px 40px 100px;
	color: rgb(36, 34, 46);
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

h1, h2, h3 {
	font-family: after_shokregular, Georgia, serif;
	color: rgb(65,77,79);
	font-weight: normal;
}

h1 {
	font-size: 2rem;
	font-weight: 900;
	font-style: italic;
}

h2 {
	font-size: 1.5rem;
}

blockquote {
	font-size: 1.2rem;
}

strong {
	font-weight: normal;
}

em {
	font-style: normal;
}


section p:first-child {
	font-weight: bold;
}

p::first-letter {
	color: red;
}