html {
	font-size: 1em;
}

body {
	margin: 100px 200px 40px 200px;
	color: rgb(36,34,46);
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	background-color: #cccccc;
}

.wrapper{
	padding: 40px 40px 40px 260px;
	background-color: rgb(255,255,255);
}


.box1 {
	width: 60%;
	padding: 10px;
	margin: 0 0 20px 0;
	box-shadow: 2px 2px 5px #cccccc;
	border-color: #efefef;
	position: relative;
	top: 60px;
	left: 20px;
}

.box2 {
	width: 60%;
	padding: 10px;
	margin: 0 0 20px 0;
	border: 1px solid #999999;
	
}