html {
	font-size: 1em;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: rgb(36,34,46);
	background: url(sandpaper.jpg) #cccccc;
	background-attachment: fixed;
	font: 100%/1.3 Arial, Helvetica Neue, Helvetica, sans-serif;
}

h1, h2, h3 {
	color: rgb(65,77,79);
	font-family: Lucida Bright, Georgia, serif;
	margin: 0 0 1em 0;
	padding: 0;
}

h1 {
	font-size: 2rem;
}

.content {
	background-color: rgba(255,255,255,0.5);
	margin: 0 0 40px 0;	
}

.content header, .content footer {
	padding: 20px;
}

.content section {
	padding: 20px;
	border-bottom: 4px solid rgba(100,100,100,0.3);
}

.content blockquote {
	background-color: rgb(255,255,255);
	padding: 10px 20px 10px 20px;
	margin: 0;
	border-radius: 10px;
}

.mainfooter {
	clear: both;
	background-color: rgb(255,255,255);
	padding: 20px;
}

.smallprint {
	font-size: 0.8rem;
}

@media screen and (min-width: 700px) {
	.content {
		float: left;
		width: 63.82978%;
	}
	.sidebar {
		float: right;
		width: 31.91489%;
	}
	.mainheader nav li {
		float: left;
		width: 31.6666%;
		margin: 0 2.5% 0 0;
		
	}
}

@media screen and (min-width: 920px) {
	.mainheader nav {
		width: 63.82978%;					
	}
	.wrapper {
		max-width: 1200px;
	}
	.content .main {
		float: left;
		width: 55%;
	}
	.content aside {
		float: right;
		width: 42%;
	}
	.content footer {
		clear: both;
	}
	.content aside blockquote {
		background-color: transparent;
		padding: 0;
		margin: 0;
		font-size: 0.9rem;
}

}