
html {
	font-size:  1em;
}
body {
	margin: 40px 100px 40px 100px;
	color: rgb(36, 34, 46);
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

h1, h2, h3 {
	color: rgb(65,77,79);
	font-family: Lucida Bright, Georgia, serif;
}

h1 {
	font-size: 2rem;
}

h1.booktitle {
	padding: 10px;
/*	text-shadow: #333333 2px 2px 10px;*/
	text-shadow: #333333 -2px -2px 10px;
/*	box-shadow: 2px 2px 10px #333333;*/
	box-shadow: inset 2px 2px 10px #333333;
	
	
}

h2 {
	font-size: 1.5rem;
}

blockquote {
	font-size: 1.2rem;
	margin: 0;
	padding: 0 70px 0 70px;
	background: url(fake1.png)top left no-repeat, url(fake2.png) bottom right no-repeat, url(test.p ng);
}

a:link {
	color: rgb(149,155,68);
}

a:visited {
	color: rgb(73,76,33);
}
